/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #F7A5A5;
  --ifm-color-primary-dark: #f58c8c;
  --ifm-color-primary-darker: #f37373;
  --ifm-color-primary-darkest: #e05a5a;
  --ifm-color-primary-light: #f8b8b8;
  --ifm-color-primary-lighter: #f9cccc;
  --ifm-color-primary-lightest: #fbe0e0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f9cccc;
  --ifm-color-primary-dark: #f8b8b8;
  --ifm-color-primary-darker: #F7A5A5;
  --ifm-color-primary-darkest: #f58c8c;
  --ifm-color-primary-light: #fbe0e0;
  --ifm-color-primary-lighter: #fcd7d7;
  --ifm-color-primary-lightest: #ffe0e0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
